.login_group {
  height: 100vh;
}

.form-control.input_form {
  border-radius: 11px;
}

.btn.login_button {
  background-color: #335C67;
  border-radius: 11px;
}

.btn.login_button:hover,
.btn.login_button:focus {
  background-color: #284a53;
  border-color: #284a53;
}

.regist_here a {
  color: #335C67;
  text-decoration: none;
  font-weight: bold;
}

.regist_here a:hover {
  color: #E09F3E;
}

.back_icon {
  margin-bottom: 3rem;
}

.bi-arrow-left {
  color: black;
  font-size: 24px;
  margin-bottom: 3rem;
}

@media screen and (min-width: 576px) {
  .bg_login {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .back_icon {
    display: none;
  }
}
