.card_product {
  display: contents;
  color: #000;
}


.card_product:hover {
  color: #000;
}

.card_product .card {
  width: 15rem;
  max-height: 21rem;
  overflow: hidden;
}

img.product_image {
  height: 10rem;
  transition: 0.5s;
  object-fit: cover;
}

img.product_image:hover {
  transform: scale(1.1);
}


@media (max-width: 576px) {
  .card_product .card {
    width: 12rem;
    max-height: 16rem;
    overflow: hidden;
  }

  .card_product {
    margin-top: 3rem;
    /* display: contents; */
    color: #000;
  }

  img.product_image {
    height: 7rem;
    transition: 0.5s;
    object-fit: cover;
  }

  img.product_image:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 576px) {
  .card {
    width: 11rem;
    max-height: 16rem;
    overflow: hidden;
  }
}
