.tambah-produk {
  display: flex;
  width: 50%;
}

.judulheader {
  margin-left: 150px;
  padding-top: 10px;
  
}

.bi-arrow-left {
  color: black;
  font-size: 20px;
  margin-bottom: 3rem;
}

.back_icon2 {
  display: flex;
  position: absolute;
  /* margin-right: 50px; */
  padding-top: 10px;
}

.formproduk_custom {
  width: 50%;
  padding-top: 10px;
}

.form-select.form1_custom,
.form-control.form1_custom {
  padding: 12px 16px;
  /* width: 568px;
  height: 48px; */
  border-radius: 16px;
  border: 1px solid;
}

.form-control.form-desc_custom {
  padding: 12px 16px;
  /* width: 568px;
  height: 80px; */
  border-radius: 16px;
  border: 1px solid;
}

.preview {
  padding: 12px 24px;
  width: 50%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #151515;
  border-radius: 16px;
  margin-right: 5px;
}

.terbitkan {
  width: 50%;
  height: 48px;
  background-color: #7126b5;
  color: #fff;
  border: 1px solid #151515;
  border-radius: 16px;
  margin-left: 5px;
}

.button_cover {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.customFile {
  padding-bottom: 0.5rem;
}

.customFile a img:hover {
  cursor: pointer;
  border: 2px solid;
}

@media only screen and (max-width: 425px) {
  .tambah-produk {
    width: 100%;
  }
  .judulheader {
    align-items: center;
    margin-left: 100px;
  }
  .formproduk_custom{
    width: 100%;
    padding: 12px 20px;
  }
  
}