.navbar_product_detail {
  display: none;
}

.carousel-inner .carousel_img {
  height: 50vh;
  object-fit: cover;
}

.img_penjual {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 16px;
}

.container.seller_detail,
.container.product_detail,
.container.product_desc {
  border-radius: 16px;
  width: 85%;
}

.btn.btn_publish {
  background-color: #7126b5;
  color: #fff;
  border-radius: 16px;
}
.btn.btn_publish:hover {
  background-color: #60229b;
  color: #fff;
}

.btn.btn_edit {
  border-color: #7126b5;
  border-radius: 16px;
}

.btn.btn_edit:hover {
  border-color: #60229b;
  background-color: #ebebeb;
}

.container.detail_produk {
  position: relative;
}

.back_icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bi-arrow-left-short {
  color: white;
  font-size: 50px;
}

.modal-content.modal_tawar {
  width: 60%;
  border-radius: 16px;
}

.modal-header.modal_head,
.modal-footer.modal_foot {
  border-bottom: none;
  border-top: none;
}

.modal-header.modal_head {
  position: absolute;
  right: 0;
}

.container.product_detail_tawar {
  background-color: #eeeeee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.product_img_tawar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 12px;
}

.form-control.form_harga_tawar {
  border-radius: 16px;
  border: 1px solid #d0d0d0;
}

.btn.btn_kirim_tawaran {
  background: #7126b5;
  border-radius: 16px;
  color: #fff;
}
.btn.btn_kirim_tawaran:hover {
  background: #5c1e96;
  color: #fff;
}

@media screen and (min-width: 576px) {
  .carousel-inner .carousel_img {
    height: 50vh;
    object-fit: cover;
    border-radius: 16px;
  }

  .back_icon {
    display: none;
  }

  .navbar_product_detail {
    display: contents;
  }
}
