.container-button-infoproductstatus {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    justify-content: flex-end;
}


.btn-status-infoproductstatus {
    width: 9.875rem;
    height: 2.25rem;
    background: #FFFFFF;
    border: 1px solid #e09f3e;
    border-radius: 16px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #151515;
}

.btn-status-infoproductstatus:hover {
    background-color: #e09f3e;
    color: #000000;
}

.container-btn-infoproductstatus {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    justify-content: center;
    width: 9.875rem;

    align-items: center;
    background: #e09f3e;
    border-radius: 16px;
}

.btn-infoproductstatus{
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}

.btn-infoproductstatus:hover{
    background-color:#FFFFFF;
    color: #151515;
    
}

.container-btn-infoproductstatus:hover{
    background-color:#FFFFFF;
    color: #151515;
    border: 1px solid #e09f3e;
}

.wa-img-productstatus{
    width: 1rem;
    height: 1rem;
}