* {
  font-family: Tahoma;
}
.p,
.h6 {
  font-family: verdana;
}

.homepage {
  width: 1024px;
  height: 100vh;
}

.Navbar {
  text-align: center;
}

p {
  color: #335c67;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 11px;
}

.section1 {
  width: 100%;
  height: 350px;
  margin-top: 35px;
}

.section2 {
  width: 100%;
  margin-top: 2.5rem;
}

.button_filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  height: 40px;
}

h6 {
  color: #335c67;
}
.btn.button_filter.active-btn {
  background-color: #e09f3e;
  color: #fff;
  font-weight: 500;
  border: none;
}

.btn.button_filter {
  font-weight: 500;
  border: 2px solid #e09f3e;
}

.btn.button_filter:hover {
  background-color: #e09f3e;
  color: #fff;
}
.input-group.search-bar {
  float: right;
}

/* .konten{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.button-jual-homepage {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.swiper-card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
}

@media only screen and (max-width: 576px) {
  .section1 {
    height: 200px;
    margin-bottom: -100px;
  }
  .card.swiper-card {
    width: 100%;
    height: 120px;
  }
  .section2 {
    /* margin-top: 250px; */
  }
  .button-homepage {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .button-homepage::-webkit-scrollbar {
    display: none;
  }
}
